
@{
    ViewData["Title"] = "TermConfirm";
}

<h1>TermConfirm</h1>

<p>By agree to the term of service, you agree to submit your soul.</p>

<p>
    <a asp-action="Create">Agree</a>
</p>
<p>
    <a asp-action="Index">Disagree</a>
</p>