html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('index1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customers td, #customers th {
        border: 3px solid #ddd;
        padding: 8px;
        background-color: white;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: black;
        color: white;
        text-align: center;
    }

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

    .fa:hover {
        color: darkblue;
    }
